.bg{background-image: url('https://stmed.net/sites/default/files/web-wallpapers-30800-6185966.jpg');
background-repeat: no-repeat;background-attachment: fixed;height: 700px; background-size:cover;}

#serv{padding: 70px 0px 0px 50px;}